/Homework/ShannonTheorem/build/
/HW/ShannonTheorem/build/
/HW/ShannonTheorem/nbproject/private/
/HW/ShannonTheorem/dist/
/Labs/Lab1HelloRest/nbproject/private/
/Labs/Lab2JsonAndObjects/nbproject/private/
/Labs/Lab2JsonAndObjects/build/
/Labs/Lab2JsonAndObjects/dist/
/Labs/Lab1HelloRest/build/